DB_USERNAME=
DB_PASSWORD=
DB_NAME=
DB_HOST=
DB_PORT=
DB_URL="postgres://${DB_USERNAME}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?sslmode=disable"
PLATFORM=dev
JWT_SECRET=
POLKA_KEY=f271c81ff7084ee5b99a5091b42d486e

GOOSE_DRIVER=postgres
GOOSE_DBSTRING=${DB_URL}
GOOSE_MIGRATION_DIR=sql/schema
